// #Shades
$grey-900: #000000;
$grey-800: #191919;
$grey-700: #323232;
$grey-600: #4b4b4b;
$grey-500: #646464;
$grey-400: #7d7d7d;
$grey-300: #969696;
$grey-200: #afafaf;
$grey-100: #c8c8c8;

$grey-0: #e1e1e1;

// #Pallete
$pallete-0: #9e0e40;
$pallete-1: #e3fffb;
$pallete-2: #f9f9fd;
$pallete-3: #ffffff;
$pallete-4: #fbfbfb;
