@use "../../../styles/abstracts/" as *;

.container {
  width: 100%;
  min-width: 250px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.search {
  position: relative;
  width: 350px;

  display: flex;
  align-items: center;

  input {
    padding: 0 40px 0 20px;

    width: 100%;
    height: 35px;

    outline: none;
    background-color: $grey-0;
    border-radius: 1rem;

    font-size: 1rem;
    color: $grey-400;
  }

  input:focus {
    color: $grey-900;
  }

  button {
    position: absolute;
    right: 10px;

    background-color: transparent;
  }
}

.add {
  button {
    padding: 5px;

    background-color: $pallete-0;
    color: $grey-0;

    font-size: 15px;
    font-weight: 500;

    border: 2px solid $pallete-0;
    border-radius: 3px;
  }
}
