@use "../styles/abstracts/" as *;

.box {
  padding: 80px;
  border: 1px solid black;
}

.box_body {
  margin-top: 50px;
}

.box_card {
  width: fit-content;
  padding: 30px;

  border: 1px solid green;

  display: flex;
  flex-direction: column;

  span {
    color: $grey-0;
    font-size: 18px;
  }
}
