@use "../styles/abstracts/" as *;

.box {
  padding: 80px;
}

.box_body {
  min-width: 250px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // border: 1px solid gold;
}

.box_card {
  margin-top: 30px;

  width: 100%;
  min-width: 250px;

  // border: 1px solid green;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  span {
    color: $grey-0;
    font-size: 18px;
  }
}

.box_info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1,
  span {
    font-size: 18px;
    font-weight: 400;
    color: $grey-900;
  }
}
